* { box-sizing: border-box; }

html {
  margin: 0;
}

img {
  width: 458.2px;
  height: 232.5px;
}

.board {
  width: 1835px;
  height: 930px;
}

.card {
  float: left;
  width: 458.2px;
  height: 232.5px;
  border: blue solid thin;
}
